<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>addTree</servlet-name>
        <servlet-class>cn.pj.web.servlets.addTree</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTree</servlet-name>
        <url-pattern>/addTree</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>cn.pj.web.servlets.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getBlogsServlet</servlet-name>
        <servlet-class>cn.pj.web.servlets.getBlogsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBlogsServlet</servlet-name>
        <url-pattern>/getBlogsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getBlogByFileNameServlet</servlet-name>
        <servlet-class>cn.pj.web.servlets.getBlogByFileNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBlogByFileNameServlet</servlet-name>
        <url-pattern>/getBlogByFileNameServlet</url-pattern>
    </servlet-mapping>

</web-app>